# This takes up too much space
config/google-chrome/
node_modules
coc-go-data
config/tmux/plugins/
config/spotify/
config/github-copilot/
config/Code/
config/ghidra/
*Cache*
*cache*
*Log*
*log*
*dump*

.zsh_history
